.list {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 4rem 0;
  margin: 0 auto;
  list-style: none;
  container-type: inline-size;
}

.list li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
}

.message_wrap {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  width: 90%;
  max-width: 400px;
  padding: 32px 16px;
  margin: 0 auto 100px;
  background: rgb(247 238 218);
  box-shadow: 0 10px 10px rgb(144 140 132 / 20%);
  transition: all .2s ease-in-out;
  transform: rotate(-3deg);
}

.list li:nth-child(even) .message_wrap {
  transform: rotate(3deg) translate(30%,0);
}

.list li:nth-child(odd) .message_wrap {
  transform: rotate(-6deg)  translate(-20%,0);
}

.list li:last-child .message_wrap {
  transform: rotate(-3deg) translate(0,0);
}
@container (max-width: 600px) {
  .list li:nth-child(even) .message_wrap {
    transform: rotate(3deg)  translate(0,0);
  }
  .list li:nth-child(odd) .message_wrap {
    transform: rotate(-3deg)  translate(0,0);
  }
}

.head {
  font-family: var( --caveat);
  font-size: 1.6rem;
  font-weight: 400;
}

.message {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 140px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: var(--foreground);
  background: linear-gradient(transparent, transparent calc(1.8em - 1px), #d4b88c calc(1.8em - 1px), #d4b88c calc(1.8em), transparent calc(1.8em)) transparent;
  background-size: 100% 1.8em;
  border: none;
  border-top: 1px solid #d4b88c;
  }
  @keyframes animation {
  0%{
      transform: rotate(0deg);
  }

  100%{
      transform: rotate(-6deg);
  }
}