.bottle {
  margin: auto;
  width: 80%;
  max-width: 500px;
  height: auto;
}
.message_wrap {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  margin: 0 auto 100px;
  padding: 16px 16px 32px;
  width: 90%;
  max-width: 400px;
  background: rgba(217, 186, 108, .17);
}
.head {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: var( --Caveat);
}
.message {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 100%;
  border: none;
  background: linear-gradient(transparent, transparent calc(1.8em - 1px), #d4b88c calc(1.8em - 1px), #d4b88c calc(1.8em), transparent calc(1.8em)) transparent;
  background-size: 100% 1.8em;
  color: var(--foreground);
  font-size: 1.2rem;
  line-height: 1.8em;
  }